<div class="jumbotron text-center">
	<h1>Welkom by ons site!</h1>

	<div ng-if="!main.loggedIn">
		<p>Login om ons users te sien.</p>
		<a href="/login" class="btn btn-primary">Login</a>
	</div>

	<div ng-if="main.loggedIn">
		<p>Manage your users.</p>
		<a href="/users" class="btn btn-primary">View Users</a>
	</div>
</div>

<pre ng-bind='main | json'></pre>