<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ons Site</title>

	<!-- FOR ANGULAR ROUTING -->
	<base href="/">

	<!-- CSS  -->
	<!-- load bootstrap from CDN and custom CSS -->
	<link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css">
	<link rel="stylesheet" href="assets/css/style.min.css">

	<!-- JS -->
	<!-- load angular and angular-route via CDN -->
	<script src="assets/libs/angular/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>


	<!-- controllers -->
	<script src="app/controllers/mainCtrl.js"></script>
	<script src="app/controllers/userCtrl.js"></script>

	<!-- services -->
	<script src="app/services/authService.js"></script>
	<script src="app/services/userService.js"></script>

	<!-- libs -->
	<script src="assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>


	<!-- main Angular app files -->
	<script src="app/app.routes.js"></script>
	<script src="app/app.js"></script>
</head>
<body ng-app="userApp" ng-controller="mainController as main">

<!-- NAVBAR -->
<header>
	<nav role="navigation" class="navbar navbar-default navbar-fixed-top" ng-if="main.loggedIn"> 
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			     </button>
				<a href="/" class="navbar-brand"><span class="glyphicon glyphicon-fire text-danger"></span> Ons Site</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">	
				<ul class="nav navbar-nav">
					<li><a href="/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ng-if="!main.loggedIn"><a href="/login">Login</a></li>
					<li ng-if="main.loggedIn" class="navbar-text">Hello {{ main.user.username }}!</li>
					<li ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()">Logout</a></li>
				</ul>
			</div>	
		</div>	
	</nav>
</header>

<main class="container">
	<!-- ANGULAR VIEWS -->
	<div ng-view></div>
</main>

</body>
</html>